<div class="mt-4">
    <h3>Edit Course</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{course.name}}">
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" name="videoId" id="videoId" value="{{course.videoId}}">
        </div>
        <div class="form-group">
            <label for="image">Image Link</label>
            <input type="text" class="form-control" name="image" id="image" value="{{course.image}}">
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" name="level" id="level" value="{{course.level}}">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Update Course</button>
    </form>
    
</div>